RAG_Pipeline_ai_agent.json
{
  "name": "RAG Pipeline ai agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ts8LNGXYZ5vqfXAc3rU-G2qRJmqPBkKw",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ts8LNGXYZ5vqfXAc3rU-G2qRJmqPBkKw"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        820,
        100
      ],
      "id": "aece51e2-283a-44aa-9981-fbdddb0b3d2c",
      "name": "Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vMrW5ETiCSCLi9E1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        100
      ],
      "id": "3e7c96c7-4659-444c-af34-1b9e94d8f69a",
      "name": "download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vMrW5ETiCSCLi9E1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo-n8n",
          "mode": "list",
          "cachedResultName": "demo-n8n"
        },
        "options": {
          "pineconeNamespace": "={{ $json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1340,
        100
      ],
      "id": "7f492c5b-d600-4675-91cf-db061ac03dec",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "CqnSRZc5Ngjeg2Be",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1440,
        320
      ],
      "id": "8cc5843b-10bf-4c79-b6c4-c0117288de17",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1460,
        460
      ],
      "id": "e6222c2e-ba2f-4838-b6bb-1610fbfeebb7",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Chat with company documents"
      },
      "id": "f0802462-a1e7-4035-8247-fc949985fb56",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "479c65e5-95eb-4ddc-9eeb-7ea20ed96d2d",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        520,
        300
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320,
        "color": 6
      },
      "id": "916b8e82-a5c7-401c-8514-39d126cd7267",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "b48a3d20-1f5e-40e2-85e9-8419ba3a855c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant responsible for answering user questions.\n\nFollow this process:\n\n1. When a question is received, always use the tool named \"personal\" to search for relevant information about {{ $json.chatInput }} and generating your response.\n\n2. Use the tool to review resumes and fetch context from the Pinecone vector database.\n\n3. After retrieving the information, use the Google Gemini Chat Model to generate a clear, helpful answer **based only on that context**.\n\nIf the tool does not return anything relevant, say:  \n_\"I couldn't find any relevant information to answer your question.\"_\n\nYour goal is to always use the tool first, then respond based on retrieved data.\nhelpful assistant ",
        "options": {
          "systemMessage": "You are an AI assistant responsible for answering user questions.\n\nFollow this process:\n\n1. When a question is received, always use the tool named \"personal\" to search for relevant information before generating your response.\n\n2. Use the tool to review resumes and fetch context from the Pinecone vector database.\n\n3. After retrieving the information, use the Google Gemini Chat Model to generate a clear, helpful answer **based only on that context**.\n\nIf the tool does not return anything relevant, say:  \n_\"I couldn't find any relevant information to answer your question.\"_\n\nYour goal is to always use the tool first, then respond based on retrieved data.\nhelpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        740,
        300
      ],
      "id": "fc6fdf33-0446-4686-82e6-c6e902de65fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1300,
        320
      ],
      "id": "f56fd20a-fb9a-449c-83a6-1d82da79a1ee",
      "name": "Embeddings data by using Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "qxUN951wqSdsv8U2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "personal",
        "toolDescription": "resume",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo-n8n",
          "mode": "list",
          "cachedResultName": "demo-n8n"
        },
        "topK": 5,
        "options": {
          "pineconeNamespace": "=final resume Nov.pdf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        960,
        500
      ],
      "id": "20aee79a-7edf-4fd2-94af-8501a45910cb",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "CqnSRZc5Ngjeg2Be",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1060,
        720
      ],
      "id": "5522d015-e6ea-4881-a2fe-a6c910cdd17a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "qxUN951wqSdsv8U2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        760,
        520
      ],
      "id": "45febe5d-02ec-421b-9f1d-3f020e95b10e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qxUN951wqSdsv8U2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Drive Trigger": {
      "main": [
        [
          {
            "node": "download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings data by using Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f76e2c09-c2ca-4b96-8caf-c5bda536204b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fddc4502c5ab6838e8ca0386474ab2f77d11b46171a45f30d785b391042fd02"
  },
  "id": "vzwUiUZSmi0AUK3D",
  "tags": []
}